.side-bar {
    margin-left: 0px;
    height: 100%;
    width: 10%;
    background-color: black;
    position: fixed;
}

.side-bar-buttons {
    height: 10%;
    background-color: rgb(58, 56, 54);
    color: bisque;
    cursor: pointer;
}

.side-bar-search {
    height: 10%;
    width: 80%;
    margin-top: 5%;
    padding: 2%;
}